<h1>{{ country.name }}</h1>

<div class="flex justify-content-between">
    <a (click)="gotoCreateState()" mat-stroked-button color="primary" class="m-2">Nuevo Estado</a>

    <button (click)="goBack()" mat-raised-button>
        <mat-icon>arrow_back</mat-icon>
        Regresar
    </button>
</div>

<mat-divider class="mb-2"></mat-divider>

<shared-list-table [list]="country.states" [columnsData]="columns" (onGotoDetails)="gotoStateDetails($event)" (onGotoUpdate)="gotoUpdateState($event)" (onDelete)="deleteState($event)"></shared-list-table>