
        <mat-card>
            <mat-card-content>
                <form class="login100-form" [formGroup]="myForm!" (ngSubmit)="emitSave()">
                    <div class="mb-2">
                        <div class="wrap-input100 m-b-23">
                            <span class="label-input100">{{ label }}</span>
                            <input class="input100" type="text" [formControlName]="name" [placeholder]="placeholder">
                            <span class="focus-input100"></span>
                        </div>
                        <span *ngIf="isValidField(name)" class="mat-mdc-form-field-error">
                            *{{ getFieldError(name) }}
                        </span>
                    </div>
                </form>

                <div class="flex justify-content-between">
                    <button (click)="emitSave()" mat-flat-button color="primary">
                        <mat-icon>save</mat-icon>
                        Guardar
                    </button>

                    <button (click)="emitBack()" mat-raised-button>
                        <mat-icon>arrow_back</mat-icon>
                        Regresar
                    </button>
                </div>

            </mat-card-content>
        </mat-card>
