<ng-template #divTable>
  <mat-card>
    <mat-card-content>
      <p>No hay registros para mostrar</p>
    </mat-card-content>
  </mat-card>
</ng-template>

<div class="flex flex-colum p-2 grid">
  <mat-form-field class="col-6">
    <mat-label>Filtro</mat-label>
    <input type="text" matInput placeholder="Buscar país.." [formControl]="seachInput">
  </mat-form-field>

  <div class="col-6">
    <button (click)="emitSearch()" mat-stroked-button color="primary" class="m-2">Filtrar</button>
    <button (click)="emitCleanFilter()" mat-stroked-button color="warn" class="m-2">Limpiar</button>
  </div>
</div>

<div class="mat-elevation-z8">

  <table *ngIf="list.length != 0; else divTable" mat-table
    [dataSource]="list | paginate: { id: 'paginator', itemsPerPage: pageItems, currentPage: page, totalItems: total }">

    <ng-container *ngFor="let column of columnsData" [matColumnDef]="column.columnHeater">
      <th mat-header-cell *matHeaderCellDef> {{ column.columnHeaterValue }} </th>
      <td mat-cell *matCellDef="let data"> {{ data[column.columnHeater] }} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let data">
        <button (click)="emitDetails(data.id)" *ngIf="showDetails" mat-raised-button
          class="m-2"><mat-icon>list</mat-icon>
          Detalles</button>
        <button (click)="emitUpdate(data.id)" mat-raised-button color="accent" class="m-2"><mat-icon>edit</mat-icon>
          Editar</button>
        <button (click)="emitDelete(data.id)" mat-raised-button color="warn" class="m-2"><mat-icon>delete</mat-icon> Borrar</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>

  </table>
</div>

<div class="text-center">
  <pagination-controls (pageChange)="emitPage($event)" previousLabel="Anterior" nextLabel="Siguiente"
    [responsive]="true" id="paginator"></pagination-controls>
</div>